Subject: Leave Application Received

Dear {{ Full_name }}


We received you mail on {{date}}Your leave application has been received successfully. The submitted are listed below
for your records.

Leave Application Details
--------------------------
Roll Number:{{ roll_number }}
Faculty:{{ faculty }}
Semester:{{ semester }}
Leave Type:{{ Leave_type }}
Start Date:{{ start_date }}
End Date:{{ end_date }}
Reason:{{ reason }}

Contact Details
----------------
Student Emails:{{ student_mail }}
Student Contacts:{{ student_contact }}
Guardian Contacts:{{ guardian_contact }}

The application will be reviwed by the concerned department, Please keep
this email for your reference.

Regards,
Student Leave System